@import '../../scssVariables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.media-section {
  display: block;
  gap: 2rem;
  width: 100%;
  height: 100vh;
}

.media-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.media-title {
  font-family: $roboto;
  color: $white;
  font-weight: 500;
}

.contact-line {
  width: 4rem;
  height: 1px;
  background-color: $purple;
}

.media-section p {
  width: fit-content;
  margin: auto;
  font-family: $roboto;
  color: $white;
  margin-bottom: 2rem;
}

.icon-container {
  width: 80%;
  margin: auto;
  margin-bottom: 8rem;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.icon {
  width: 3rem;
  height: 3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 26px;
  color: $white;
  outline: $white solid 1px;
  transition-property:
    outline-offset,
    outline-color,
    background-image,
    background-image,
    box-shadow;
  transition-duration: 0.25s;
  background-image: none;
  border-radius: 50%;
}

.icon:hover {
  outline-offset: 4px;
  box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.186);
}

.icon:hover .i {
  animation: shake 0.5s;
}

.instagram:hover {
  background-image:
    radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    );
  outline-color: #a02d76;
}

.twitter:hover {
  background-color: rgb(61, 172, 247);
  outline-color: rgb(61, 172, 247);
}

.linkedin:hover {
  background-color: rgb(22, 121, 187);
  outline-color: rgb(22, 121, 187);
}

.github:hover {
  background-color: rgb(54, 155, 88);
  outline-color: rgb(54, 155, 88);
}

@keyframes shake {
  10% {
    transform: rotate(15deg);
  }

  20% {
    transform: rotate(-15deg);
  }

  30% {
    transform: rotate(15deg);
  }

  40% {
    transform: rotate(-15deg);
  }
}
