@import './scssVariables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background: linear-gradient(rgb(36 36 48), rgb(40, 36, 65));
  background-attachment: fixed;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}