@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

// fonts

$poppins: 'Poppins', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto Slab', serif;

// colors

$red: rgb(244, 91, 91);
$dark-blue: #0b132b;
$mid-blue: #1c2541;
$light-blue: rgb(98, 136, 212);
$dark-gray: #18191a;
$light-gray: #3a506b;
$aqua: #5bc0be;
$purple: rgb(110, 87, 168);
$dark-purple: rgb(35, 35, 44);
$orange: #ff9183;
$yellow: rgb(255, 220, 120);
$blue: rgb(47, 164, 238);
$white: rgb(208, 230, 237);
